<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Helios Login</title>
		<link rel="stylesheet" href="assets/css/Helios_Login.css">
		<link rel="stylesheet" href="assets/css/Elementui_index.css">
		<link rel="shortcut icon" href="assets/images/helios.ico">
		<script type="text/javascript" src="assets/js/jquery.js"></script>

		<script type="text/javascript" src="assets/js/vue.js"></script>
		<script type="text/javascript" src="assets/js/index.js"></script>
		<script type="text/javascript" src="assets/js/comment.js"></script>


	</head>

	<body>
		<div id="login">
			<div class="login-box" id="particles-js">
				<span class="login-text"></span>
				<video id="bannerVideo_0" class="video-js vjs-banner-skin" autoplay="" muted="" loop="" preload="auto" style="height:100vh">
					<source src="assets/images/helios" type="video/mp4">
					<p class="vjs-no-js">
						To view this video please enable JavaScript, and consider upgrading to a
						web browser that
					</p>
					<div target="_blank">
						supports HTML5 video
					</div>
					<p></p>
				</video>

				<div class="login-con">
					<div class="tit"></div>
					<div>
						<ul class="login-form">
							<div class="item">
								<i class="icon iconfont icon-xingmingyonghumingnicheng"></i>
								<el-input placeholder="Username" v-model="Username" size="mini"></el-input>
							</div>
							<div class="item">
								<i class="icon iconfont icon-mima"></i>
								<el-input type="password" placeholder="password" v-model="password" size="mini"></el-input>
							</div>

							<li>
								<button type="button" class="btn btn-primary" id="loginBtn" @click="Login()">登录</button>
								<p class="btn-bottom"> </p>
							</li>
						</ul>

					</div>
				</div>
				<div class="login-footer"> {{copy}}</div>

			</div>

		</div>
		<script>
			let data = {
				Username: '',
				password: '',
				copy: util.copy()
			};
			var Helios = new Vue({
				el: "#login",
				data: data,
				beforeCreate() {
					/*console.log("创建前：");
					 console.log(this.$data); */
				},
				created() {
					let that = this;
					console.log(that);
					document.onkeypress = function(event) {
						var keyCode = document.all ? event.keyCode : event.which;
						console.log(keyCode);
						if (keyCode == 13) {
							that.Login();
							return false;
						}
					}

					//  console.log("创建完成：");
				},
				beforeMount() {

				},
				mounted() {
					$('body').resize();
				},
				updated() {
					// console.log("==更新成功==");

				},
				//事件
				methods: {
					Login() {
						var user = (data.Username).trim();
						var pwd = (data.password).trim();
						if (user.length == 0 || pwd.length == 0) {
							util.error('用户名密码不能为空');
						} else {
							util.login(user, pwd);
						}
					},
					keyEnble(ev) {
						if (ev.keyCode == 13) {
							this.Login();
						}
					}
				},
			});
		</script>


		<style>
			html,
			body {
				width: 100%;
				height: 95%;
				background: #000;
			}

			/* remove canvas default margin */
			canvas {
				display: block;
				vertical-align: bottom;
			}

			#particles-js {
				width: 100%;
				height: 95%;
			}

			.htmleaf-header {
				color: #fff;
			}

			.el-message-box {
				background: none;
				border: none;
			}
		</style>
	</body>

</html>
