<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Helios Login</title>
		<link rel="stylesheet" href="master/assets/css/Helios_Login.css">
		<link rel="stylesheet" href="assets/css/Elementui_index.css">

		<link rel="stylesheet" href="master/assets/css/font-awesome.min.css?2019827" />
		<link rel="shortcut icon" href="master/assets/images/helios.ico">
		<script type="text/javascript" src="master/assets/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="master/assets/js/vue.js"></script>
		<script type="text/javascript" src="master/assets/js/index.js"></script>
		<script type="text/javascript" src="master/assets/js/particles.js"></script>

	</head>
	<body>

		<div id="login">
			<div class="login-box" id="particles-js">
			<!-- 	<canvas width="1848" height="925" style="width: 100%; height: 100%;"></canvas> -->
				<div class="login-con">
					<span class="login-text"></span>
					<!--  <div style="color: #7ccdc8; padding-bottom: 6px; letter-spacing: 2px;"> -欢迎使用智能图传系统-</div> -->
					<div class="">
						<ul class="login-form">
							<div class="item">
								<i class="icon iconfont iconxingmingyonghumingnicheng"></i>
								<el-input placeholder="Username" size="mini" v-model="name"></el-input>
							</div>
							<div class="item">
								<i class="icon iconfont iconmima"></i>
					<el-input type="password" placeholder="Password" size="mini" v-model="password"></el-input>
							</div>
							<li>
								<button type="button" class="btn btn-primary" id="loginBtn" @click="Login()">登录</button>
								<p class="btn-bottom"> </p>
							</li>
						</ul>
					</div>
				</div>
				<div class="login-footer">
					Copyright © 2006-2019 福建京奥通信技术有限公司
					<!-- *ICP备111111111号-11 -->
				</div>
			</div>

		</div>
		<script>
			var toast = new Vue({
				el: ''
			}); //引入VUE 对象方法
			let data = {
				options: [{
					value: '1',
					label: 'Operator'
				}, {
					value: '2',
					label: 'installer'
				}, {
					value: '3',
					label: 'observer'
				}],
				name: '11',
				password: '11',
			};

			var Helios = new Vue({
				el: "#login",
				data: data,
				//事件
				methods: {
					Login() {
						setTimeout(() => {
							window.location.href = "master/index.html";
						}, 1000);
						$("#loginBtn").attr("disabled", "disabled").css({
							"cursor": "no-drop",
							"background": "#3c6485",
							"color": "#fff"
						}).html('<i class="el-icon-loading"></i>进入系统中...');
						$("#textuname").focus();
					},
					keyEnble(ev) {
						if (ev.keyCode == 13) {
							this.Login();
						}
					}
				},
			});
			particlesJS('particles-js', {
				particles: {
					color: '#fff',
					shape: 'circle', // "circle", "edge" or "triangle"
					opacity: 1,
					size: 4,
					size_random: true,
					nb: 150,
					line_linked: {
						enable_auto: true,
						distance: 100,
						color: '#fff',
						opacity: 1,
						width: 1,
						condensed_mode: {
							enable: false,
							rotateX: 600,
							rotateY: 600
						}
					},
					anim: {
						enable: true,
						speed: 1
					}
				},
				interactivity: {
					enable: true,
					mouse: {
						distance: 300
					},
					detect_on: 'canvas', // "canvas" or "window"
					mode: 'grab',
					line_linked: {
						opacity: .5
					},
					events: {
						onclick: {
							enable: true,
							mode: 'push', // "push" or "remove"
							nb: 4
						}
					}
				},
				/* Retina Display Support */
				retina_detect: true
			});
		</script>
		<style>
			html,
			body {
				width: 100%;
				height: 80%;
				background: #000;
			}
			canvas {
				display: block;
				vertical-align: bottom;
			}

			.htmleaf-header {
				color: #fff;
			}

			.el-message-box {
				background: none;
				border: none;
			}
		</style>
	</body>

</html>
