<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Helios Login</title>
    <link rel="stylesheet" href="assets/css/Elementui_index.css">
    <link rel="stylesheet" href="assets/css/global.css">
    <script type="text/javascript" src="assets/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script>
    <script type="text/javascript" src="assets/js/comment.js"></script>
    <style>
    </style>
</head>

<body>
    <div id="login">
        <el-header style="height: 56px">
            <div class="m-header-zej">
                <div class="hearder-logo" style="padding-right: 5px">
                    <a href="/index.htm">
                        <img src="assets/images/loginLogo.png" class="logo-pic" alt="">
                        <span class="version-text"> </span>
                    </a>
                </div>
                <ul class="hearder-menu">
                </ul>
                <div class="avatar">
                    <img src="assets/images/user-pic.png" alt="">
                    <span class="user-name">15160087522</span>
                    <em class="icon-zej icon-input-triangle"></em>
                    <ul class="avatar-more">
                        <li><a href="javascript:;" id="userCenter"><i class="icon-zej icon-user"></i>个人中心</a></li>
                        <li><a href="javascript:;" id="msgWarn"><i class="icon-zej icon-pre-notice"></i>消息提醒</a>
                        </li>
                        <li><a href="javascript:;"><i class="icon-zej icon-exit"></i>退出登录</a></li>
                    </ul>
                </div>
                <a class="icon-zej icon-message"></a>
                <a class="icon-zej icon-home" href="/index.htm"></a>
                <a class="icon-zej icon-help" onclick="globalMethods.helpBot()"></a>
            </div>
        </el-header>
        <el-container style="padding-top:56px">
            <el-aside width="200px">
                <el-col :span="24">
                    <h5>Helios</h5>
                    <slidebar></slidebar>
                </el-col>
            </el-aside>


            <el-main>
                <i class="el-icon-edit"></i>
                <i class="el-icon-share"></i>
                <i class="el-icon-delete"></i>
                <el-button type="primary" icon="el-icon-search" size="mini">搜索</el-button>
                <el-switch v-model="vv"> </el-switch>


                <el-input v-model="value1" placeholder="请输入内容" size="mini"></el-input>
                <el-input placeholder="请输入内容" v-model="value1" :disabled="true" size="mini"></el-input>

                <el-select v-model="value" placeholder="请选择" size="mini">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <div style="margin-top: 50px">
                        <div id="head1"></div>
                    <el-row>
                        <el-button type="primary" size="mini" @click="Login">执行一个事件</el-button>
                        <el-button type="success" size="mini">成功按钮</el-button>
                        <el-button type="info" size="mini">信息按钮</el-button>
                    </el-row>
                    <el-button type="primary" :loading="true">加载中</el-button>
                </div>
            </el-main>

        </el-container>



    </div>
    <script>
        var toast = new Vue({
            el: ''
        }); //引入VUE 对象方法

        let data = {
            d: "",
            value1: "",
            vv: false,
            options: [{
                value: '选项1',
                label: '黄金糕'
            }, {
                value: '选项2',
                label: '双皮奶'
            }, {
                value: '选项3',
                label: '蚵仔煎'
            }, {
                value: '选项4',
                label: '龙须面'
            }, {
                value: '选项5',
                label: '北京烤鸭'
            }],
            value: ''
        };
        var Helios = new Vue({
            el: "#login",
            data: data,
            beforeCreate() {
                /*console.log("创建前：");
                console.log(this.$data); */
            },
            created() {
                console.log("创建完成：");
                console.log(this.$data);
            },
            beforeMount() {
                /* console.log("挂载前：");
                console.log(this.$data); */
            },
            mounted() {
                $("body").resize();
                console.log(this.$data);

            },

            updated() {
                console.log("==更新成功==");
                console.log(this.$data);
            },

            //事件
            methods: {
                Login() {
                    toast.$notify({
                        title: '成功',
                        message: '数据请求成功',
                        type: 'success',
                        duration: 1000
                    });
                },

            },
        });
    </script>
</body>

</html>